@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-color: #dadada;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  color: #fff;
}

.nav-country {
  display: flex;
  align-items: end;
  margin: 15px;
  font-size: 13px;
  color: #c4c4c4;
}

.nav-country h1 {
  color: #fff;
  font-size: 14px;
}

.nav-search {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  color: gray;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
}

.nav-search-category {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 5px;
  background: #e5e5e5;
  border-radius: 4px 0 0 4px;
}

.nav-search-input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}

.nav-search-icon {
  max-width: 40px;
  padding: 8px;
  background: #ffd64f;
  border-radius: 0 4px 4px 0;
}

.nav-language {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  margin-left: 15px;
}

.nav-text {
  margin-left: 15px;
}
.nav-text p {
  font-size: 10px;
}
.nav-text h1 {
  font-size: 14px;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;

}

.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;

}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;
     

}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);

}
.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}
.box-row1{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
  
 }
 
 .box-col1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    min-width: 20%;
    min-width: 2px;
    background: #fff;
 
 
 }
 .box-col1 a{
     font-size: 13px;
     color: #009999;
     font-weight: 500;
 
 }




.movies-grid{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 10px;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 10px 20px;
}
.card{
    width: 100px;
    height: 450px;
    display: flex;
    
    flex-direction: column;
    width: clamp(150px,95vw , 250px);
  gap: 10px;
  align-items: center;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 20px;
    
    background: #fff;
    z-index: 1;
}


.box-col a{
    font-size: 13px;
    color: #009999;
    font-weight: 500;

}
.header-box{
    margin-top: -20vw;
    
}
.products-slider{
    background: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;

}

.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
}

.products-slider .products img{
    min-width: 200px;
    max-height: 200;
}
.products-slider .products::-webkit-scrollbar{
display: none;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #131921;
    padding: 20px 60px;
}

.img1{
    width: 250px;
    height: 250px;
}